.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/GeneratedPluginRegistrant.*
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
web/generated_plugin_registrant.dart
.vscode/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
.gradle/
local.properties
android/app/google-services.json
android/key.properties
coverage/
*.log
